html {
  box-sizing: border-box;
  font-family: sans-serif;
  line-height: 1.5;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

img {
  order: -1;
  width: 2rem;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: .75em 1em .6em;

  background-color: #e2e2e2;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;

  display: flex;
  background-color: green;
}

ul li a {
  text-decoration: none;
  color: #0074d9;
  padding: 0 1rem;

  display: flex;

  background-color: red;

}

@media only screen and (min-width:40em){

  header {
    flex-direction: row;
  }
